html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
}


audio,
canvas,
img,
video {
    vertical-align: middle;
}

body {
    font: 16px/26px New Bakerville, New Bakerville, Arial;
    background: #FFFFFF;
    padding: 1.2em;
}



/* ============== header-cont */
.header-cont {
    height: 100px;
    background: #CBE4EE;
    margin: 0;
    padding: 0;

}

.title {
    color: #d33682;
    display: block;
    padding: 0px;
    float: right;
    margin: 10px;
}

/* ============== Menu */

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    float: left;
}

nav li a {
    float: left;
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background: #EEEEEE;
}
    
nav a:hover,
nav a:visited {
    color: #93a1a1;
}

nav a:hover {
    color: #268bd2;
    background: #ccc;
    text-decoration: underline;
}

/* ============== Moblile: Main */

.main {
    padding: 60px 0;
}

.main article h1, h2, h3, h4 {
    color: #93a1a1;
}


/* ============= chat styling */
.chat {
    display:grid;
    grid-template-columns: 80%;
}
.chat > p {
    background: #EEEEEE;
    padding: 4px;
    margin: 10px;
    
}

/* ============= flash styling */

.flashes ul {
    margin: 0 0;
    background: #FFFFFF;
    color: #d33682;
}

article.flashes {
    margin-bottom: 1em;
}

.error, .error input {
    color: red;
}

tr.error td el {
    margin-top: 0;
}

tr.submit button {
    margin-top: 20px;
}

input, button {
    margin-left: 10px;
}
