<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <body>

        <div class="header-cont">
            <header>
                {% if logo %}
                <h1 class="title">{{ logo }}</h1>
                {% endif %}
                <nav>
                    <ul>
                        <li><a href="{{ url_for('index') }}">index</a></li>
                        <li><a href="{{ url_for('chat')}}">chat</a></li>
                        <li><a href="/calendar">calendar</a></li>
                        <li><a href="/images">images</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

              <article class=flashes>
                {% with alerts = get_flashed_messages() %}
                  {% if alerts %}
                    <ul>
                    {% for alert in alerts %}
                      <li>{{ alert }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
              </article>

              {% block content %}
              {% endblock %}

           </div> <!-- #main -->
        </div> <!-- #main-container -->

        {% block scripts %}
        {% endblock %}
        
    </body>
</html>
