{% extends "base.html" %}

{% block title %}
chat
{% endblock %}

{% block links %}
<a href="{{ url_for('index') }}">index</a>
{% endblock %}

{% block content %}
  <article>
    <section>
        <h4>Write something</h4>
        <form action="" method="post">
          {{ form.hidden_tag() }}
          <table>    
            {{ form.message }}
          </table>
        </form>
    </section>
    <section>
        {% if m == 'v' %}
          {% include "v_messaging.html" %}
        {% else %}
          {% include "g_messaging.html" %}
        {% endif %}
    </section>
  </article>
{% endblock %}
