<section class="chat", id=talk_list></section>

{% block scripts %}
<script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
<script>
  $(document).ready(function(){

      loadMessages();
      function loadMessages() {
          setTimeout(loadMessages, 4000)
          $.getJSON("{{ url_for('gtest') }}", function(result) {
              $("#talk_list").empty();
              for (var i=result.length-1; i>=0; i--) {
                  $("#talk_list").append('<p>' + result[i] + '</p>');
              };

          });
      };
  });
</script>
{% endblock %}
