{% extends "base.html" %}

{% block links %}
<a class="current" href="{{ url_for('index') }}">index</a>
{% endblock %}

{% block title %}
{{ logo }}
{% endblock %}

{% block content %}

    <article>
        <h1>This is the index page</h1>
        <p>There isn't much content here because this website is primarily used for testing.</p>
      <section>
        <h2>Title: {{ title }}</h2>
        <p>Text: {{ text }}</p>
      </section>
    </article>
{% endblock %}    
