<ul id=talk_list></ul>

{% block scripts %}
<script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
<script>
  $(document).ready(function(){
      var lastmessage;
      var newM;

      loadMessages();
      function loadMessages() {
          $.getJSON("{{ url_for('gtest') }}", function(result) {
              $("#talk_list").empty();
              for (var i=result.length-1; i>=0; i--) {
                  $("#talk_list").append('<li id=message>' + result[i] + '</li>');
              };
              lastmessage = result[0].val();
          });
      };

      resetMessages();
      function resetMessages() {
          setTimeout(resetMessages, 1000);
          
           $.getJSON("{{ url_for('gtest') }}", function(result) {
               if (lastmessage == result[0].val()) {
                   $('#message').first().remove();
                   $("#talk_list").append('<li id=message>' + result[0] + '</li>');
                   lastmessage = newmessage;
               };
           });
      };
  });
</script>
{% endblock %}
